<%- include('../admin/adminLayouts/Ahead.ejs') %>

<div class="form-div form-div-login">
   
    <h1 class="content-heading-h1 login-logo">cmsHD</h1>
    <form id="form" action="/reset/new-password" method="POST">
        <input type="hidden" name="_csrf" value="<%=csrfToken%>">
        <input type="hidden" name="userId" value="<%= userID %>">
        <input type="hidden" name="passwordToken" value="<%= passwordToken %>">
        <label for="">New Password</label>
        <input type="password" name="password" id="">
        <button class="adduser-btn login-btn" type="submit">Set new password</button>
    </form>
</div>

<%- include('../admin/adminLayouts/Aend.ejs') %>