<%- include('./adminLayouts/Ahead.ejs') %>
<%- include('./adminLayouts/gridStart.ejs') %>

<% if(isAuthenticated) { %>

<h1 class="content-heading-h1">Add content - obrázky</h1>

<% } %>

<%- include('./adminLayouts/gridEnd.ejs') %>
<%- include('./adminLayouts/Aend.ejs') %>


<!-- NEZAPOMEŇ <input type="hidden" name="_csrf" value="<%=csrfToken%>"> -->