<%- include('./adminLayouts/Ahead.ejs') %>
<%- include('./adminLayouts/gridStart.ejs') %>

<% if(isAuthenticated) { %>

<h1 class="content-heading-h1">Přidat uživatele</h1>
<div class="form-div">
    <% if(error) { %>
        <div class="login-message login-message--error"><%= error %></div>
    <% } %>
    <% if(newUserMsg) { %>
        <div class="login-message "><%= newUserMsg %></div>
    <% } %>
    <form id="form" action="/admin/users/add-user" method="POST" novalidate>
        <input type="hidden" name="_csrf" value="<%=csrfToken%>">
        <label for="mail">Email</label>
            <input type="email" name="email" value="<%= oldInput.email %>">
        <label for="password">Heslo</label>
            <input type="password" name="password" value="<%= oldInput.password%>">
        <label for="confirm">Potvrdit heslo</label>
            <input type="password" name="confirm" value="<%= oldInput.confirm%>">
        <button class="adduser-btn" type="submit">Přidat</button>
    
    </form>  
</div>

<% } %>

<%- include('./adminLayouts/gridEnd.ejs') %>
<%- include('./adminLayouts/Aend.ejs') %>