<%- include('./adminLayouts/Ahead.ejs') %>
<%- include('./adminLayouts/gridStart.ejs') %>

<% if(isAuthenticated) { %>
<h1 class="content-heading-h1">Hlavní stránka</h1>

<div class="info-container">
    <div class="msg-count">
        <h3>Počet zpráv</h3>
        <p><%= msgCount %></p>
    </div>
    <div class="msg-count">
        <h3>Veřejné Obrázky</h3>
        <p><%= imgCount %></p>
    </div>
    
</div>


<% } %>



<%- include('./adminLayouts/gridEnd.ejs') %>
<%- include('./adminLayouts/Aend.ejs') %>