<%- include('./adminLayouts/Ahead.ejs') %>
<%- include('./adminLayouts/gridStart.ejs') %>


<% if(isAuthenticated) { %>

    <h1 class="content-heading-h1">Přidat obrázek</h1>
    
    <div class="form-div">

        <% if(errorMsg) { %>
            <div class="login-message login-message--error"><%= errorMsg %></div>
        <% } %>

        <form id="form" action="#" method="POST" enctype="multipart/form-data">
            <input type="hidden" name="_csrf" value="<%=csrfToken%>">
            <label for="title">Název</label>
                <input type="text" name="title" value="<%= oldInput.title %>">
            <label for="image">Image File</label>
                <input type="file" name="image">
            
            <button class="adduser-btn" type="submit">Save</button>
        
        </form>
    </div>
    
<% } %>

<%- include('./adminLayouts/gridEnd.ejs') %>
<%- include('./adminLayouts/Aend.ejs') %>