<%- include('./adminLayouts/Ahead.ejs') %>
<%- include('./adminLayouts/gridStart.ejs') %>
    <h1>MailBox</h1>

    <!-- klasickej for in iteruje přes jendotlivé dokumety v collection, proto [object Object] vypisovalo pole dokumetu a nepoložek v něm -->
    <!--  -->
    <% if(msg.length > 0) { %>
    <ul>
        <% msg.forEach((m) => { %>
          <a href="/admin/mailbox/<%= m._id %>"> 
            <li>
                <%= m.date %>
                <%= m.name %>
                <%= m.email %>

                <form action="/admin/delete-message" method="POST">
                    <input type="hidden" name="msgId" value="<%=m._id %>">
                    <button type="submit">Delete</button>
                </form>
            </li>
        </a>
        <% }) %>
    </ul>
    <% } else { %>
        <h2>Žádné zprávy</h2>
    <% } %>

<%- include('./adminLayouts/gridEnd.ejs') %>
<%- include('./adminLayouts/Aend.ejs') %>