<%- include('./adminLayouts/Ahead.ejs') %>


<article>
    <h1><%= msg.name %></h1>
    <h4><%= msg.date %></h4>

    <h3>Text zprávy</h3>
        <pre><%=msg.msg %></pre>

</article>


- udělat buuton po kliknutí poslat email dotyčné osobě
<form action="/admin/send-email" method="POST">
    <label for="">Předmět</label>
        <input type="hidden" name="mail" value="<%= msg.email %>">
        <input type="text" name="subject" id="">
    <label for="">Obsah zprávy</label>
        <textarea name="mailtext" id="" cols="30" rows="10"></textarea>
    <button type="submit">Odeslat</button>
</form>





<%- include('./adminLayouts/Aend.ejs') %>