<%- include('./adminLayouts/Ahead.ejs') %>
<%- include('./adminLayouts/gridStart.ejs') %>

<% if(isAuthenticated) { %>
    <article class="msg-content">
        <h1 class="content-heading-h1"><%= msg.name %></h1>
        <h4 class="content-description"><%= msg.date %></h4>
    
        <h3 class="content-description">Text zprávy</h3>
        <pre class="msg-text"><%=msg.msg %></pre>
    
    </article>
    
    
    <h2 class="content-heading-h1">Odpovědět</h2>
    <form class="reply-form" id="form" action="/admin/send-email" method="POST">
        <label for="">Předmět</label>
        <input type="hidden" name="mail" value="<%= msg.email %>">
        <input type="text" name="subject" id="">
        <label for="">Obsah zprávy</label>
        <textarea name="mailtext" id="" cols="30" rows="10"></textarea>
        <button type="submit">Odeslat</button>
    </form>

<% } %>






<%- include('./adminLayouts/gridEnd.ejs') %>

<%- include('./adminLayouts/Aend.ejs') %>

