<%- include('./adminLayouts/Ahead.ejs') %>


<article>
    <h1><%= msg.name %></h1>
    <h4><%= msg.date %></h4>

    <h3>Text zprávy</h3>
        <pre><%=msg.msg %></pre>

</article>


- okno na poslání zpravy + button na odeslání



<%- include('./adminLayouts/Aend.ejs') %>