<%- include('./adminLayouts/Ahead.ejs') %>
<%- include('./adminLayouts/gridStart.ejs') %>


<% if(isAuthenticated) { %>
<h1 class="content-heading-h1">Edit user</h1>
<div class="form-div">
    <% if(err) { %>
        <div class="login-message login-message--error"><%= err %></div>
   <% } %>

    <form id="form" action="/admin/users/edit-user" method="POST">
        <input type="hidden" name="_csrf" value="<%=csrfToken%>">
        <input type="hidden" name="userId" value="<%=user._id%>">

        <label for="email">Email</label>
            <input type="email" name="email" disabled value="<%=user.email %>">
        <label for="new_password">New password</label>
            <input type="password" name="newpassword" value="<%= oldInput.password %>">
        <label for="confirm_password">Confirm Password</label>
            <input type="password" name="confirmpassword" value="<%= oldInput.confirm %>">
        <button class="adduser-btn" type="submit">Save</button>
    </form>
</div>
<% } %>

<%- include('./adminLayouts/gridEnd.ejs') %>
<%- include('./adminLayouts/Aend.ejs') %>