<%- include('./adminLayouts/Ahead.ejs') %>
<%- include('./adminLayouts/gridStart.ejs') %>

<% if(isAuthenticated) { %>

<div class="users-list-heading">
    <h1 class="content-heading-h1">Uživatelé</h1>
  
</div>

<% if(newPWmsg) { %>
    <div class="login-message "><%= newPWmsg %></div>
<% } %>

<div class="table">
    <span class="add-btn-span">
    
        <a class="add-link" href="/admin/users/add-user">
            <svg class="add-btn-svg" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
                <path class="add-btn-path" d="M24 9h-9v-9h-6v9h-9v6h9v9h6v-9h9z" />
            </svg>
        </a>
    
    </span>
    <% if(userList.length > 0) { %>
    <table class="fixed">
        <thead>
            <th>Email</th>
            <!-- <th>Password</th> -->
            <th colspan="2">Akce</th>
        </thead>
        <% userList.forEach((user) => { %>


        <tr>
            <td><%=user.email%></td>
            <!-- <td><%=user.password%></td> -->
            <td class="td-fixed">
                <button class="table-btn-edit">
                    <a class="link-td" href="/admin/users/<%= user._id %>">

                        <svg class="svg-tbl-btn-edit" xmlns="http://www.w3.org/2000/svg" width="22" height="20" viewBox="0 0 24 24">
                            <path class="path-tbl-btn-edit"
                                d="M7.127 22.564l-7.126 1.436 1.438-7.125 5.688 5.689zm-4.274-7.104l5.688 5.689 15.46-15.46-5.689-5.689-15.459 15.46z" />
                        </svg>

                    </a>

                </button>

            </td>
            <td class="td-fixed">
                <form action="/admin/users/delete-user" method="POST">
                    <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                    <input type="hidden" name="userId" value="<%=user._id %>">
                    <button class="table-btn-delete" type="submit">
                        <svg class="svg-tbl-btn" xmlns="http://www.w3.org/2000/svg" width="22" height="20"
                            viewBox="0 0 24 24">
                            <path class="path-tbl-btn"
                                d="M3 6v18h18v-18h-18zm5 14c0 .552-.448 1-1 1s-1-.448-1-1v-10c0-.552.448-1 1-1s1 .448 1 1v10zm5 0c0 .552-.448 1-1 1s-1-.448-1-1v-10c0-.552.448-1 1-1s1 .448 1 1v10zm5 0c0 .552-.448 1-1 1s-1-.448-1-1v-10c0-.552.448-1 1-1s1 .448 1 1v10zm4-18v2h-20v-2h5.711c.9 0 1.631-1.099 1.631-2h5.315c0 .901.73 2 1.631 2h5.712z" />
                        </svg>
                    </button>
                </form>
            </td>
        </tr>

        <% }) %>
    </table>

    <% } else { %>
        <h2>No users</h2>
    <% } %>

</div>

<% } %>



<%- include('./adminLayouts/gridEnd.ejs') %>
<%- include('./adminLayouts/Aend.ejs') %>